.fullscreencontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Minimalist background color */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px; /* Margin from the top of the page */
}

.videocontainer1 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
}

.video-js.vjs-fluid {
  position: relative; /* Relative positioning */
  width: 50%; /* Adjust width as needed */
  height: auto; /* Height auto for maintaining aspect ratio */
}


.downloadbutton {
  border: none;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.downloadbutton:hover {
  background-color: #0056b3; /* Darken button on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  
  .video-js.vjs-fluid {
    width: 80%; /* Larger percentage for smaller screens */
  }

  .videocontainer1 { /* Update this as well */
    width: 100%; /* Adapt width on smaller screens */
    padding-top: 56.25%; /* Maintain aspect ratio */
  }

  .fullscreencontainer {
      padding: 10px;
  }

  .videocontainer {
      width: 90%; /* Increase width on smaller screens for better visibility */
      padding-top: 50%; /* Adjust aspect ratio for smaller screens */
  }

  .downloadbutton {
      font-size: 14px;
      padding: 8px 15px;
  }
}
