@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}


.full-screen-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background: rgba(0, 0, 0, 0.5); /* White overlay with 50% opacity */
  background-size: cover;

}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover; /* Ensure the image covers the whole area */
  background-position: center; /* Center the image */
  z-index: -1; /* Keep it in the background */
  opacity: 0.9; /* Adjust opacity as needed */
}


.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1; /* Ensure the video stays in the background */
  opacity: 1; /* Adjust opacity as needed */
  
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 9, 0.3); /* Slightly lighter overlay */
  z-index: 1; /* Above the background video */
}

.foreground-content {
  position: relative;
  z-index: 2; /* Above the overlay */
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: auto;
}

.foreground-content h1 {
  font-size: 2.5em; /* Starting font size */
  margin-bottom: 0.5em;
  max-width: 90%; /* Restrict width to allow some breathing space */
  word-wrap: break-word; /* Wrap long words */
  line-height: 1.2; /* Adequate line height for readability */
  padding: 0 20px; /* Padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow-wrap: break-word; /* Break words that are too long */
  font-weight: bold; /* Make the font bold */
  position: relative;
}

.foreground-content h2 {
  font-size: 2em; /* Adjusted font size */
  padding: 0 20px; /* Padding for spacing */
  margin-bottom: 0.5em;
  font-weight: bold; /* Make the font bold */
  color: white;
  position: relative;
}
.foreground-content2 {
  position: relative;
  z-index: 2; /* Above the overlay */
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: auto;
}

.foreground-content2 h1 {
  font-size: 2.5em; /* Starting font size */
  margin-bottom: 0.5em;
  max-width: 90%; /* Restrict width to allow some breathing space */
  word-wrap: break-word; /* Wrap long words */
  line-height: 1.2; /* Adequate line height for readability */
  padding: 0 20px; /* Padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow-wrap: break-word; /* Break words that are too long */
  font-weight: bold; /* Make the font bold */
  position: relative;
}


.or-with-lines {
  display: flex; /* Use flexbox to align elements */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center content horizontally */
  font-size: 16px; /* Size of the 'OR' text */
  margin: 20px 0; /* Margin around the 'OR' for spacing */
  font-weight: bold; /* Make the font bold */

}

.or-with-lines::before,
.or-with-lines::after {
  content: ''; /* Pseudo-elements should have content property */
  flex: 1; /* Flex-grow to take available space */
  max-width: 100px;
  height: 1px; /* Height of the line */
  background: white; /* Color of the line */
  margin: 0 10px; /* Spacing around the lines */
}
.file-input-container {
  position: relative;
  /* ... other styles for layout */
  padding: 0.4em 1em; /* Adjust padding for smaller size */
  font-size: 0.8em; /* Adjust font size for smaller screens */

}

.file-input {
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-file-button {
  /* Style this button to look like your desired file input */
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  color: white;
  background-color: #3897f0; /* Default button color */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* ... other styles to match your design */
}

.upload-file-button:hover {
  background-color: #2878b5; /* Darker shade on hover */
}

.foreground-content button {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  color: white;
  background-color: #3897f0; /* Default button color */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.foreground-content button:hover {
  background-color: #2878b5; /* Darker shade on hover */
}

.foreground-content button {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  color: white;
  background-color: #3897f0; /* Default button color */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.foreground-content button:hover {
  background-color: #2878b5; /* Darker shade on hover */
}

.search-container {
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  text-align: center;
  margin-top: auto;

}

.search-form {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align items vertically in the center */
  margin-top: 20px;
  width: 100%; /* Set the width of the search form to full container width */
  justify-content: center; /* Center the search form within its container */
}

.search-logo {
  position: absolute; /* Position the logo absolutely within the container */
  right: 10px; /* Position the logo from the right */
  width: 24px;
  height: 24px;
  cursor: pointer; /* Change the cursor to pointer to indicate it's clickable */
}

.guest-alert-overlay {
  position: fixed; /* Fixed position to stay in place during scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* High z-index to be on top */
  background-color: rgba(0,0,0,0.4); /* Semi-transparent background */
}

.guest-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
}

.guest-alert {
  background: linear-gradient(135deg, #f6d365, #fda085);
  color: #333;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: auto; /* Allow the width to adjust based on content */
  max-width: 700px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 1vh; /* Position the alert higher */

}

.guest-alert p {
  margin-bottom: 15px;
}

.guest-alert .nav-signup {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.guest-alert .nav-signup:hover {
  background-color: #0056b3;
  color: #ffd700;
  text-decoration: underline;
}

.user-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5); /* Semi-transparent overlay */
}

.user-alert {
  background: linear-gradient(135deg, #6dd5ed, #2193b0); /* Gradient background */
  color: #333;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: auto;
  max-width: 700px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 1vh;
}

.user-alert p {
  margin-bottom: 15px;
}

.user-alert .nav-offers {
  display: inline-block;
  color: #fff;
  background-color: #28a745; /* Different color to distinguish from signup button */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.user-alert .nav-offers:hover {
  background-color: #218838;
  color: #ffd700;
  text-decoration: underline;
}

.input-logo-container {
  display: flex;
  align-items: center; /* Align items in the center vertically */
  border: 1px solid #dfe1e5; /* Border similar to Google's search bar */
  border-radius: 24px; /* Rounded corners */
  width: 100%; /* Increase the width of the search bar */
  max-width: 800px; /* Set a max-width to prevent it from getting too long */
  background-color: white; /* Ensuring the background inside the border is white */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
  position: relative; /* Needed for absolute positioning of the logo */
}

.input-logo-container:hover {
  border-color: #ccc; /* Change border color on hover */
}

.input-logo-container:hover .search-logo {
  transform: scale(1.1); /* Scale logo on hover */
}

#google-like-search {
  flex-grow: 1; /* Allows the input to take the available space */
  width: 100%; /* Set the width to fill the container */
  height: 48px; /* Height for a comfortable search bar */
  padding-right: 50px; /* Add padding to the right to make space for the logo */
  padding-left: 20px; /* Add padding to the left as needed */
  font-size: 16px; /* Font size similar to Google's */
  border: none;
  border-radius: 24px; /* Rounded corners */
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
}

#google-like-search:focus {
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

/* Responsive Design for Medium Screens */
@media (max-width: 1024px) {
  .guest-alert {
    font-size: 1.3rem; /* Slightly smaller font size */
    padding: 25px 35px; /* Adjust padding */
  }
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .guest-alert {
    font-size: 1.2rem; /* Further reduced font size */
    padding: 20px 30px; /* Adjust padding */
  }
}


/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
  .guest-alert {
    padding: 15px 20px;
    font-size: 1rem;
  }

  .guest-alert p {
    margin-bottom: 10px;
  }

  .guest-alert .nav-signup {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  body{
    font-size: 1.2em;
  }
  #google-like-search {
    width: 100%;
  }
  .search-container{
    margin: auto;
    position: relative;
    top: 0%;
    left: 32.5%;
    right: auto;
    width: 65%;
  }
  .input-logo-container {
    width: 100%;
  }
  .foreground-content h1{
    width: 100vw;
    margin: auto;
    margin-bottom: 0%;
    font-size: 1.2em; /* Starting font size */
  }
  .or-with-lines {
    font-size: 12px; /* Size of the 'OR' text */
  }
  
  
  .file-input-container {
    padding: 0.3em 0.8em; /* Further reduce padding for even smaller screens */
    font-size: 0.7em; /* Reduce font size for smaller screens */
    /* Add any other styles you want to change for smaller screens */
  }
 
  .foreground-content{
    margin: auto;
    margin-top: 12%;
  }
}