/* HowItWorks.css */

.how-it-works-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff; /* Set background color to white */
    padding-top: 56px; /* Adjust if your NavigationBar is a different height */
    padding-bottom: 2rem; /* Add some padding at the bottom */
  }
  
  .container {
    max-width: 960px; /* Adjust the container max-width to better match the design */
  }
  
  .container h2 {
    color: #4A90E2;
    margin-bottom: 0.5rem; /* Slightly reduce the bottom margin */
    font-size: 2.5rem; /* Increase font size for the heading */
    font-weight: bold; /* Make the heading bold */
  }
  
  .container .lead {
    font-weight: normal; /* Set the font weight to normal */
    color: #333; /* Set text color to a darker shade for better contrast */
    margin-bottom: 4rem; /* Increase bottom margin for more spacing */
    font-size: 1.25rem; /* Increase font size for the lead text */
  }
  
  .text-center.how-does-it-work {
    font-size: 1.5rem; /* Increase font size */
    color: #555; /* Adjust color to a lighter shade */
    margin-bottom: 3rem; /* Increase bottom margin for spacing */
    font-weight: bold; /* Make the subheading bold */
  }
  
  .row .step {
    margin-top: 2rem; /* Increase top margin for spacing */
    padding: 0 1rem; /* Add padding to the sides */
  }
  
  .step h3 {
    color: #333;
    margin-top: 1rem;
    font-size: 1.5rem; /* Increase font size for titles */
    font-weight: bold; /* Make titles bold */
  }
  
  .step p {
    color: #666;
    font-size: 1rem; /* Set font size for paragraph text */
    margin-bottom: 1rem; /* Add some margin at the bottom of paragraphs */
  }
  
  .icon {
    width: 120px; /* Adjust the icon size to match the design */
    height: auto;
    margin-bottom: 2rem; /* Increase margin below the icons for more space */
  }
  
  @media (max-width: 768px) {
    .row .step {
      margin-top: 1rem;
    }
  
    .icon {
      width: 100px; /* Adjust icon size for mobile */
      margin-bottom: 1.5rem; /* Adjust margin for mobile */
    }
  
    .container h2,
    .text-center.how-does-it-work,
    .step h3,
    .step p {
      font-size: 1rem; /* Adjust font sizes for mobile for a better fit */
    }
  }
  