.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white; /* Or any color you prefer */
    z-index: 1000; /* Ensure it's above everything else */
  }
  
  .loading-logo {
    width: 150px; /* Adjust as necessary */
    /* Add any additional styling for the logo */
  }
  